<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Servicio de Soporte de Taco Shop</title>
<link rel="stylesheet" th:href="@{/taco.css}" />
</head>
<body>
	<div class="center">
		<h1>A ocurrido un error</h1>
		<h2>Nuestros ingenieros trabajan sin descanso en ello</h2>
		<img th:src="@{/images/taco.png}" />
		
					<div class="element">
				<a th:href="@{/}" id="another">Ir a la home</a>
			</div>
	</div>
</body>
</html>
